---
## To be able to run this task, make sure to add your SSH pubkey as root user.
## Note that is expected a pre-existing ssh key pairs to be automatically copied to the server.
#
# Create an inventory file with the contents below:
# $ vi inventory
# [foreman_servers]
# 192.168.0.1
#
# Then execute the pre-requisites:
#
# ssh-copy-id -i ~/.ssh/id_rsa.pub root@<SERVER>
# ansible-playbook -u root --tags="prereq_as_root" main.yaml
#
#---------------------------------------------------------------------------------------------------

# make sure to include the IP address of your server(s) on the inventory file
- hosts: foreman_servers
  tasks:

    # Include all tasks to prepare the system
    - import_tasks: meta_task/preparation.yml


# vim:sw=2:ts=2:et:
